# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/

# Flask
instance/

# Temp upload/output files
project/uploads/*
project/outputs/*
!project/uploads/.gitkeep
!project/outputs/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log
